<nz-breadcrumb style="font-size: 20px" >
    <nz-breadcrumb-item>
      <span>定时任务管理</span>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
  <nz-divider></nz-divider>
<button style="float: right" nz-button nzType="primary" (click)="showModal()"><i nz-icon type="plus"></i>New</button>
<br>
<br>
<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>批处理名</th>
      <th>组</th>
      <th>状态</th>
      <th>PRIORITY</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.TRIGGER_NAME}}</td>
      <td>{{data.TRIGGER_GROUP}}</td>
      <td>{{data.STATE}}</td>
      <td>{{data.PRIORITY}}</td>
      <td>
        <a><i nz-icon type="caret-right" theme="outline"></i>执行</a>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-divider nzType="vertical"></nz-divider>
        <a><i nz-icon type="pause"></i>暂停</a>
        <nz-divider nzType="vertical"></nz-divider>
        <nz-divider nzType="vertical"></nz-divider>
        <a><i nz-icon type="delete"></i>删除</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="cancelModalWin()">
  <ng-template #modalTitle>
    Custom Modal Title
  </ng-template>

  <ng-template #modalContent>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>任务组</nz-form-label>
            <nz-form-control [nzSpan]="17" nzHasFeedback>
              <input nz-input formControlName="jobGroup" [(ngModel)]="schedule.jobGroup" placeholder="async validate try to write JasonWood">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>任务ID</nz-form-label>
            <nz-form-control [nzSpan]="17" nzHasFeedback>
              <input nz-input formControlName="jobName" [(ngModel)]="schedule.jobName" placeholder="async validate try to write JasonWood">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>类名（FQCN）</nz-form-label>
            <nz-form-control [nzSpan]="17" nzHasFeedback>
              <input nz-input formControlName="jobClassName" [(ngModel)]="schedule.jobClassName" placeholder="async validate try to write JasonWood">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>cron表达式</nz-form-label>
            <nz-form-control [nzSpan]="17" nzHasFeedback>
              <input nz-input formControlName="cronExpression" [(ngModel)]="schedule.cronExpression" placeholder="async validate try to write JasonWood">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>任务描述</nz-form-label>
            <nz-form-control [nzSpan]="17" nzHasFeedback>
              <input nz-input formControlName="desc" [(ngModel)]="schedule.desc" placeholder="async validate try to write JasonWood">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
              <button nz-button nzType="primary" [disabled]="!validateForm.valid">Submit</button>
              <button nz-button (click)="resetForm($event)">Reset</button>
            </nz-form-control>
          </nz-form-item>
    </form>
  </ng-template>
</nz-modal>