<nz-layout style="height:100%">
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
      <li *ngFor="let data of menuDs" (click)="getSubMenu(data)" nz-menu-item>{{data.name}}</li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%">
        <li *ngFor="let menu of subMenu"  nz-submenu>
          <span title><i nz-icon type="user"></i>{{menu.name}}</span>
          <ul>
            <li *ngFor="let sub of menu.childMenus" nz-menu-item><a routerLink="{{sub.url}}">{{sub.name}}</a></li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        <nz-breadcrumb-item>List</nz-breadcrumb-item>
        <nz-breadcrumb-item>App</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 100%;"><router-outlet></router-outlet></nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>